@model Gemini.Models._20_Web.FooterModel

<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="/"><img src="" alt=""></a>
                    </div>
                    <ul>
                        <li>Địa chỉ: Đà Nẵng</li>
                        <li>SĐT: 0357842821</li>
                        <li>Email: ahuyscpy@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <h6>Danh mục tin</h6>
                    @if (Model.ListPosCategory != null && Model.ListPosCategory.Any())
                    {
                        if (Model.ListPosCategory.Count > 6)
                        {
                            <ul>
                                @for (var i = 0; i < Model.ListPosCategory.Count; i++)
                                {
                                    <li><a href="/danh-muc/@Model.ListPosCategory[i].SeoFriendUrl">@Model.ListPosCategory[i].Name</a></li>
                                }
                            </ul>
                        }
                        else
                        {
                            <ul>
                                @for (var i = 0; i < Model.ListPosCategory.Count; i++)
                                {
                                    <li><a href="/danh-muc/@Model.ListPosCategory[i].SeoFriendUrl">@Model.ListPosCategory[i].Name</a></li>
                                }
                            </ul>
                        }

                    }
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>Các chi nhánh</h6>
                    <ul>
                        <li>Núi Thành, Quận Hải Châu, TP Đà Nẵng </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div class="footer__copyright__text">
                        <p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->